*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #8576ff;
  --color-primary-light: #f3fcfc;
  --color-secondary: #213f7d;
  --color-background: #ffffff;
  --border-color: #f1f5f9;
  --primary-text-color: #334155;
  --color-primary-light: #fcf7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #8576ff;
    --color-primary-light: #f3fcfc;
    --color-secondary: #213f7d;
    --color-background: #ffffff;
    --border-color: #f1f5f9;
    --primary-text-color: #334155;
    --color-primary-light: #fcf7ff;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-layout {
  height: 100vh;
  position: relative;
}

.dashboard-layout__page-contents {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
}

.dashboard-layout__sidebar {
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-background);
  transition: all 0.25s;
  z-index: 1000 !important;
  border-right: 1px solid var(--border-color);
}

.dashboard-layout__logo-section {
  width: 100%;
  margin-top: 18px;
  font-weight: 600;
  font-size: 18px;
}

.sidebar-contents__container {
  width: 87%;
  margin: 0 auto;
}

.sidebar-menu {
  width: 100%;
  margin-top: 1.2rem;
}

.nav-links {
  width: 87%;
  margin: 0 auto;
  list-style-type: none;
}

.dashboard-link-item {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0.6899rem 10px;
}

.dashboard-link-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
}

.dashboard-notification-indicator {
  background-color: #f43f5e;
  height: 27px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
}

.dashboard-link-item:hover {
  background-color: var(--color-primary-light);
  width: 100%;
}

.dashboard-link-item:hover a {
  color: var(--color-primary);
}

.link-item-menu-icon {
  margin-right: 15px;
  font-size: 12px;
  opacity: 0.7;
}

.active {
  background-color: var(--color-primary-light);
  width: 100%;
}

.active a {
  color: var(--color-primary);
}

.navbar-user-actions {
  width: 100%;
}

.navbar-mode__toggle-container {
  display: flex;
  align-items: center;
}

.navbar-user-actions {
  margin-top: 5px;
  padding-left: 3px;
}

.dark-mode__switch {
  position: relative;
  width: 28px;
  height: 22px;
}

.toggle-checkbox {
  display: none;
}

/* The slider background */
.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e8f0;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

/* The circle inside the switch */
.toggle-label:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Switch on when checked */
.toggle-checkbox:checked + .toggle-label {
  background-color: var(--color-primary);
}

/* Move the circle to the right when checked */
.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(8px);
}

.navbar-mode__toggle-container p {
  font-size: 12px;
  color: var(--primary-text-color);
  font-weight: 300;
  margin-left: 4px;
}

.navbar-user-profile {
  display: flex;
  align-items: center;
  margin-top: 0.9887rem;
}

.navbar-user-profile .user-profile-info {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-user-profile .user-profile-info .username {
  font-size: 12px;
  color: var(--primary-text-color);
  font-weight: 400;
}

.navbar-user-profile .user-profile-info .email {
  color: var(--primary-text-color);
  color: #64748b;
  font-size: 12px;
}
