*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #8576ff;
  --color-primary-light: #f3fcfc;
  --color-secondary: #213f7d;
  --color-background: #ffffff;
  --text-white-color: #ffffff;
  --sidebar-border-color: #f1f5f9;
  --primary-text-color: #334155;
  --color-primary-light: #fcf7ff;
  --statistics-text-color: #64748b;
  --card-border-color: #f2f2f7;
  --info-background-color: #ffffff;
  --table-head-bg-color: #f1f5f9;
  --pagination-btn-color: #e2e8f0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #8576ff;
    --color-primary-light: #f3fcfc;
    --color-secondary: #213f7d;
    --color-background: #ffffff;
    --sidebar-border-color: #f1f5f9;
    --primary-text-color: #334155;
    --color-primary-light: #fcf7ff;
    --statistics-text-color: #64748b;
    --card-border-color: transparent;
    --info-background-color: #484554;
    --table-head-bg-color: #f1f5f9;
    --pagination-btn-color: #E2E8F0;
  }
} */

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-layout {
  height: 100vh;
  position: relative;
  align-items: stretch;
}

.dashboard-layout__page-contents {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
}

.dashboard-layout__sidebar {
  width: 240px;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--color-background);
  transition: all 0.25s;
  z-index: 1000 !important;
  border-right: 1px solid var(--sidebar-border-color);
}

.dashboard-layout__logo-section,
.dashboard-layout__logo-section-mobile {
  width: 100%;
  margin-top: 18px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.dashboard-layout__logo-section-mobile {
  border-bottom: 2px solid var(--card-border-color);
}

.isClosed-on-desktop {
  display: none;
}

.dashboard-layout__logo-section-mobile {
  display: none;
}

.mobile-menu__btn-container,
.mobile-menu__btn-container-navbar {
  cursor: pointer;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu__btn-container img,
.mobile-menu__btn-container-navbar img {
  width: 100%;
  height: 100%;
}

/* don't display the mobile menu breadcrumb button desktop  */
.mobile-menu__btn-container-navbar {
  display: none;
}

.sidebar-contents__container {
  width: 87%;
  margin: 0 auto;
}

.sidebar-menu {
  width: 100%;
  margin-top: 1.2rem;
}

.nav-links {
  width: 87%;
  margin: 0 auto;
  list-style-type: none;
}

.dashboard-link-item {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0.6899rem 10px;
}

.dashboard-link-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
}

.dashboard-notification-indicator {
  background-color: #f43f5e;
  height: 24px;
  width: 27px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
}

.dashboard-link-item:hover {
  background-color: var(--color-primary-light);
  width: 100%;
}

.dashboard-link-item:hover a {
  color: var(--color-primary);
}

.link-item-menu-icon {
  margin-right: 15px;
  font-size: 12px;
  opacity: 0.7;
}

.active {
  background-color: var(--color-primary-light);
  width: 100%;
}

.active a {
  color: var(--color-primary);
}

.navbar-user-actions {
  width: 100%;
}

.navbar-mode__toggle-container {
  display: flex;
  align-items: center;
}

.navbar-user-actions {
  margin-top: 5px;
  padding-left: 3px;
}

.dark-mode__switch {
  position: relative;
  width: 28px;
  height: 22px;
}

.toggle-checkbox {
  display: none;
}

/* The slider background */
.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e8f0;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

/* The circle inside the switch */
.toggle-label:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Switch on when checked */
.toggle-checkbox:checked + .toggle-label {
  background-color: var(--color-primary);
}

/* Move the circle to the right when checked */
.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(8px);
}

.navbar-mode__toggle-container p {
  font-size: 12px;
  color: var(--primary-text-color);
  font-weight: 300;
  margin-left: 4px;
}

.navbar-user-profile {
  display: flex;
  align-items: center;
  margin-top: 0.9887rem;
}

.navbar-user-profile .user-profile-info {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-user-profile .user-profile-info .username {
  font-size: 12px;
  color: var(--primary-text-color);
  font-weight: 400;
}

.navbar-user-profile .user-profile-info .email {
  color: var(--primary-text-color);
  color: #64748b;
  font-size: 12px;
}

.dashboard-layout__main-contents-container {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

.dashboard-layout__main-contents-container::-webkit-scrollbar {
  width: 8px;
}

.dashboard-layout__main-contents-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.dashboard-layout__main-contents-container::-webkit-scrollbar-thumb {
  background-color: rgba(84, 95, 125, 0.15);
  border-radius: 10px;
}

.dashboard-layout__main-contents-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dashboard-layout__main-contents {
  background-color: var(--color-background);
  width: 95%;
  margin: 0 auto;
}

.user-welcome-section {
  margin-top: 1.8rem;
}

.user-welcome-section h2 {
  font-weight: 400;
  size: 22px;
  line-height: 20px;
}

.user-statictics-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
}

.statistics-single__card {
  height: 88px;
  border: 1px solid var(--card-border-color);
  display: flex;
  background-color: var(--info-background-color);
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
  padding-left: 0.889rem;
}

.statistics-single__card .card-top-section {
  display: flex;
  color: var(--statistics-text-color);
  align-items: center;
}

.statistics-single__card .card-top-section p {
  font-weight: 600;
  font-size: 16px;
}

.statistics-single__card .card-top-section span {
  margin-left: 9px;
  cursor: pointer;
  font-size: 11px;
}

.statistics-single__card .card-lower-section {
  display: flex;
  align-items: center;
}

.statistics-single__card .card-lower-section h3 {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-text-color);
  margin-right: 3px;
}

.statistics-single__card .card-lower-section .direction-info {
  display: flex;
  align-items: center;
}

.statistics-single__card .card-lower-section .direction-info-green span,
.statistics-single__card .card-lower-section .direction-info-red span {
  font-size: 10px;
  font-weight: 700;
}

.statistics-single__card .card-lower-section .direction-info-green {
  color: #10b981;
}

.statistics-single__card .card-lower-section .direction-info-red {
  color: #f43f5e;
}

.statistics-single__card
  .card-lower-section
  .direction-info-green
  span:first-child,
.statistics-single__card
  .card-lower-section
  .direction-info-red
  span:first-child {
  margin: 0 0.2rem;
}

.up-right-icon {
  transform: rotate(315deg);
}

.down-right-icon {
  transform: rotate(45deg);
}

.registration-chart-section {
  margin-top: 2rem;
}

.registration-chart-section h4 {
  font-weight: 500;
  font-size: 18px;
}

.reg-event-updates-container {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.reg-event-updates-container .chart-container {
  border-radius: 6px;
  border: 1px solid var(--card-border-color);
  padding: 2.1rem;
}

.reg-event-updates-container .chart-container canva {
  width: 100%;
}

.reg-event-updates-container .carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
}

/* carousel start  */
.carousel-container .carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  border-radius: 4px;
}

.carousel-container .slide {
  position: relative;
  min-width: 100%;
  height: auto;
  border-radius: 4px;
}

.carousel-images img {
  width: 100%; /* Make the image responsive */
  height: auto;
  border-radius: 4px;
}

.carousel-container .caption {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: white;
  padding: 5px 10px;
}

.carousel-container .caption h4 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 1rem;
}

.carousel-container .caption p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.carousel-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Dark overlay with some transparency */
  z-index: 1; /* Ensure the overlay is above the image */
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-container .indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.carousel-container .indicator {
  height: 4px;
  width: 15px;
  margin: 0 5px;
  background-color: #979491;
  cursor: pointer;
  border-radius: 3px;
}

.carousel-container .indicator.active {
  background-color: #fff; /* Active indicator color */
}

/* carousel end  */

.event-history {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.event-history h4 {
  font-weight: 500;
  font-size: 18px;
}

.event-history__filters-container {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
}

.filter-sub-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 0.4rem;
}

.filter-sub-section:last-child {
  justify-content: flex-end;
}

.filter-sub-section .sort-data-align {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.text-filter__container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid var(--card-border-color);
  height: 36px;
  width: 30%;
}

.text-filter__container input {
  border: none;
  margin-left: 10px;
  margin-top: 1px;
  font-size: 13px;
  font-weight: 300;
  color: var(--primary-text-color);
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.text-filter__container input::placeholder {
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 300;
}

.text-filter__container input:focus {
  border: none;
  outline: none;
}

.text-filter__container i {
  font-size: 13px;
  color: #cbd5e1;
}

.select-filter__container,
.select-filter__container-most-recent {
  height: 100%;
}

.select-filter__container select,
.select-filter__container-most-recent select {
  height: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid var(--card-border-color);
  outline: none;
  color: var(--primary-text-color);
  border-radius: 3px;
}

.list-count {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.sort-text {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
}

.filter-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid var(--card-border-color);
  height: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  cursor: pointer;
}

.filter-menu-container i {
  font-size: 11px;
}

.export-text__container {
  border-radius: 3px;
  border: 1px solid var(--card-border-color);
  height: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.export-text__container span {
  margin-right: 6px;
}

.export-text__container i {
  font-size: 11px;
}

.table-list__container {
  margin-top: 1.4rem;
  width: 100%;
}

.table-responsive {
  width: 100%;
  height: fit-content;
  max-height: 67vh;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(84, 95, 125, 0.15);
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
  position: relative;
}

thead td {
  padding: 1.3rem 1.4rem;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  color: #64748b;
}

.table-head-text {
  font-style: normal;
  align-items: flex-end;
  text-transform: capitalize;
}

thead tr {
  white-space: nowrap;
  background: var(--table-head-bg-color);
}

tbody tr {
  position: relative;
}

tbody td {
  padding: 1.0999rem 1.4rem;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
  position: relative;
  line-height: 14px;
}

tbody .completed {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #10b981;
  background-color: #d1fae5;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

tbody .inprogress {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #3b82f6;
  background: #dbeafe;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

tbody .inprogress i,
tbody .completed i {
  font-size: 7px;
  margin-right: 7px;
}

.events-history-mobile__container {
  display: none;
  width: 100%;
}

.mobile-history__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--table-head-bg-color);
  width: 100%;
  height: 48px;
  padding: 0 0.5rem;
}

.mobile-history__header p {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #64748b;
}

.mobile-history__body {
  width: 100%;
}

.mobile-history__body .accordion-item {
  /* border-top: 1px solid #ddd; */
}
.mobile-history__body .accordion-title {
  background-color: var(--info-background-color);
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-history__body .accordion-title-inner-div {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.mobile-history__body .accordion-title-inner-div p {
  font-size: 12px;
  font-weight: 400;
}

.mobile-history__body .accordion-title-inner-div i {
  font-size: 8px;
  margin-right: 0.5rem;
}

.mobile-history__body .accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}

.mobile-history__body .accordion-title-status {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  padding: 0.1rem 0.4rem;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.mobile-history__body .title-completed {
  background-color: #10b981;
}

.mobile-history__body .title-inprogress {
  background-color: #3b82f6;
}

/* Style for showing content */
.mobile-history__body .active .accordion-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
}

.mobile-history__body .active .accordion-content p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-text-color);
}

.mobile-history__body .active .accordion-title {
  background-color: #f2f2f7;
}

.pagination-summary {
  margin-top: 1rem;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-dropdown__btn {
  display: flex;
  align-items: center;
}

.pagination-dropdown__btn select {
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--card-border-color);
  color: #334155;
  font-size: 14px;
  font-weight: 400;
  padding: 0.48rem 0.4rem;
}

.pagination-dropdown__btn p {
  font-style: normal;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0.5rem;
}

.pagination-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-actions .btn-handler {
  border-radius: 3px;
  height: 36px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--card-border-color);
}

.pagination-actions .btn-handler:first-child {
  background-color: var(--pagination-btn-color);
}

.pagination-actions .btn-handler i {
  font-size: 12px;
}

.pagination-actions .pagination-count__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0.9rem;
  color: var(--primary-text-color);
}

.pagination-actions .pagination-active__count {
  background: var(--color-primary);
  color: var(--text-white-color);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  /* card change on smaller screens  */
  .user-statictics-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  .reg-event-updates-container {
    margin-top: 0.6rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  /* navbar closed by default  */
  .user-statictics-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Mobile responsive designs  */
@media screen and (max-width: 768px) {
  /* navbar closed by default  */
  .dashboard-layout__sidebar {
    width: 0;
    position: fixed;
  }

  .sidebar-mobile {
    position: fixed;
    width: 100%;
    transition: all 0.4s;
    z-index: 1000 !important;
  }

  .dashboard-layout__sidebar-open {
    transform: translateX(0);
  }

  .reg-event-updates-container .chart-container {
    border-radius: 6px;
    border: 1px solid var(--card-border-color);
    padding: 0.8rem;
    overflow-x: auto;
  }

  #reg-chart {
    width: 100%;
  }

  /* display logo and breadcrumb on mobile  */
  .dashboard-layout__logo-section-mobile {
    width: 100%;
    margin-top: 18px;
    padding-bottom: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .isClosed-on-desktop {
    display: block;
  }

  .isClosed-on-mobile {
    display: none;
  }

  /* display the mobile menu breadcrumb button desktop  */
  .mobile-menu__btn-container-navbar {
    display: block;
  }

  .user-welcome-section {
    margin-top: 1rem;
  }

  .user-welcome-section h2 {
    font-size: 17px;
  }

  .carousel-container .caption p {
    font-weight: 400;
    font-size: 11px;
  }

  .event-history__filters-container {
    flex-direction: column;
    height: fit-content;
  }

  .filter-sub-section {
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;
  }

  /* remove table from page  */
  table {
    display: none !important;
  }

  /* add mobile history to page  */
  .events-history-mobile__container {
    display: block;
    width: 100%;
  }

  .select-filter__container,
  .select-filter__container select,
  .text-filter__container {
    width: 100%;
    text-align: center;
  }

  .list-count {
    align-self: stretch;
    text-align: left;
  }

  .sort-data-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.1rem;
    width: 100%;
  }

  .event-history__filters-container {
    align-items: stretch;
    justify-content: space-between;
  }

  .filter-menu-container,
  .export-text__container {
    height: 36px;
  }

  .pagination-dropdown__btn p {
    display: none;
  }
}
